
# config folder- comment in productions
# config

# Pipelines for Database dockers getting Up and ready.
# database.yml

# Node Modules
node_modules

# Logs
*.log

# yml file
*.yml
database.yml

# configs
src/config/config.json


# Docker Files
.dockerignore
Dockerfile